body {
    font-style: oblique;
    text-align: center;
}
.Quest{
    font-size: 35px;
}
table {
    font-size: 35px;
     border-collapse: collapse; /* รวมเส้นขอบเขตของเซลล์เป็นเส้นเดียว */
      width: 100%; /* กำหนดความกว้างของตาราง */
    }
h2{
    text-align: left;
}
th , tr{
    border: 1px solid black; /* เส้นขอบเซลล์ทั้งหมด */
    padding: 8px; /* กำหนดระยะห่างของข้อมูลในเซลล์ */
    text-align: left; 
    
}
.butran{
    font-size: 30px;
}